h1 {
color: orange;
text-align: center;
}
#box-one {
background-color: gray;
padding: 20px;
}
#box-two {
background-color: yellow;
padding: 10px;
}
#box-three {
background-color: blue;
padding: 20px;
}